* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

header {
  width: 100%;
  height: 90px;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  height: 70px;
  background-color: #fff;
}

header .main__header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}
.fixed__top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 60px;
  border: none;
}
.dropdown span {
  font-size: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}

.dropdown-content.active .content__home a {
  color: yellow;
}

.dropdown-content a:hover {
  color: rgb(155, 65, 65);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.theme-switch img {
  font-size: 20px;
  margin-right: 15px;
}

.theme-switch {
  margin-left: 800px;
}

.navbar h1 a {
  font-size: 30px;
  color: #fb811e !important;
}

.navbar h1 a:hover {
  color: #fb811e;
}

.container h2 {
  font-size: 60px;
}

.bann-contents h3 {
  font-size: 60px;
}

#carousel .carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item img {
  min-height: 100vh;
  border-radius: 20px;
}

#carousel {
  width: 100%;
}

.col-md-5 {
  position: absolute;
  left: 168px;
  z-index: 1;
  margin-top: 160px;
}
.col-md-5 h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
}
.col-md-7 {
  position: relative;
  margin-left: auto;
}
.but_prev_next img {
  padding: 24px 17px;
  border-radius: 50%;
  border: 2px solid gray;
}

.but_prev_next img:hover {
  background-color: rgb(241, 119, 19);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  transition: all 0.5s;
  margin: 10px;
}

.carousel-indicators li:hover {
  border: 3px solid rgb(243, 105, 26);

  background-color: rgb(241, 119, 19);
}

#carousel .carousel-indicators.active {
  background-color: rgb(241, 119, 19);
}

.slider-num h4 {
  margin: 0;
  padding: 0;
}

.carousel-inner .slider-num h4 {
  margin: 0;
  padding: 0;
  right: 50px;
}
.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.btn-style:hover {
  background-color: #009f4d;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption h1.title {
    font-size: 60px;
    margin-bottom: 18px;
  }

  .carousel-caption {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .carousel-caption h1.title {
    font-size: 36px;
    line-height: 35px;
  }
}

.container {
  max-width: 1260px;
}

.leaders {
  padding-top: 60px;
}

.leaders__img {
  background-color: white;
  border-radius: 30px;
}

.leaders__title {
  transition: all 0.3s;
  background: white;
  border-radius: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  width: 270px;
  height: 198px;
  flex-basis: 40%;
}

.leaders__title:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.leaders__img img {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}

.leaders__img h5 {
  margin-top: 20px;
}
.leaders__say h3 {
  font-size: 25px;
  color: #fb811e;
}

.leaders__say h1 {
  font-size: 40px;
  color: black;
  font-weight: 600;
}
.leaders__say p {
  opacity: 0.7;
}
.leaders__btn {
  padding-top: 40px;
}
.leaders__btn button {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 16px 40px;
  border: 2px solid #fb811e;
  border-radius: 40px;
  color: white;
  transition: all 0.5s;
  margin-right: 30px;
  background-color: #fb811e;
  overflow: hidden;
}

.leaders__btn button:hover {
  background-color: #009f4d;
  border: 2px solid #009f4d;
}

.foods {
  background: #009f4d;
  padding-bottom: 50px;
}

.card-header {
  border-radius: 60px;
}

.card-body span {
  margin: 10px 0;
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}

.card-body h4 {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

.card-body h4:hover {
  color: #009f4d;
}

.card-body p {
  margin-bottom: 60px;
}

.card {
  border-radius: 22px;
}
.card img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.foods__content h5 {
  position: relative;
  margin-top: 60px;
  color: white;
}

.title__h {
  position: absolute;
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  margin-left: 400px;
  margin-top: 30px;
}

.foods__title p {
  margin-top: 90px;
  font-size: 1.25rem;
  font-weight: 300;
  color: white;
}

.foods__content h1 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}

.service__content {
  margin-top: 100px;
}
/* phần qualities */
#quality {
  margin-top: 80px;
}

.imginfo__box {
  background-color: #fb811e;
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 50px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}

h6.imginfo__title {
  font-size: 65px;
}

.imginfo__box p {
  font-size: 25px;
  text-transform: uppercase;
}

.grids_info span {
  font-size: 30px;
  color: #fb811e;
}

.grids_info h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

.radius-image {
  border-radius: 30px;
}

h5.quality-title {
  color: #fb811e;
  font-size: 20px;
}

.row h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.5;
  color: black;
}

@media (max-width: 1200px) {
  .grids_info h4 {
    font-size: 20px;
  }
}

@media (max-width: 738px) {
  .imginfo__box {
    left: -50px;
  }
}
/* phần server */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.server .server-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}

.server .server-unit:hover,
.server .server-unit.active {
  border: 1px solid #eee;
  transition: 0.3s ease-in;
  background: #fff;
}

.server__text {
  margin-top: 30px;
}

.server-para h4 {
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  color: black;
}

.server-para p {
  margin-top: 10px;
}

.server__text:hover div.server-para h4 {
  transition: 0.3s ease-in-out;
  color: #009f4d;
}

.server-para h4:hover {
  transition: 0.3s ease-in-out;
  color: #009f4d;
}

.server-unit {
  padding: 1.5rem 0.5rem;
}

.server-para p {
  line-height: 26px;
}

@media screen and (max-width: 991px) {
  .w3l-index-block4 .server-para h4 {
    font-size: 20px;
  }
}

/* phần product */

.column .product_content {
  position: relative;
}

.column .product_content img {
  width: 100%;
}

h5.gall-text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}

.product-img-grid.hover14,
.agile-gallery_grid_main {
  padding: 0;
}

.product-img-grid.hover14 {
  padding: 0;
}

.hover14 figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover14 {
  position: relative;
  overflow: hidden;
}

.hover14 figure::after {
  content: "";
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  content: "";
  position: absolute;
  transition: all 0.8s;
  width: 50px;
  -o-transform: skewX(-17deg);
  -ms-transform: skewX(-17deg);
  transform: skewX(-17deg);
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.hover14 figure:hover::after {
  animation: flash 750ms;
}
/* Define animation flash */
@keyframes flash {
  75% {
    left: 110%;
  }
  100% {
    left: 125%;
  }
}

.product_content button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 30px;
  border: 2px solid #fb811e;
  border-radius: 40px;
  color: white;
  transition: all 0.5s;
  background-color: #fb811e;
  overflow: hidden;
  line-height: 26px;
}

.product_content button:hover {
  background-color: #009f4d;
  border: 2px solid #009f4d;
}

.product_content h5.small-title {
  color: #fb811e;
}

/* phần customer */
.customer {
  background: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
}

.customer::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.customer .testi-des {
  text-align: center;
}

.customer blockquote p {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}

.customer span.fa {
  font-size: 20px;
  color: #fb811e;
}

.customer .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.customer .testimonial .peopl {
  margin: 0;
}

.customer .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}

.customer p.identity {
  color: #fff;
  font-size: 16px;
}

a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}

.testimonial-content {
  max-width: 900px;
  margin: auto;
}

@media (max-width: 736px) {
  .customer blockquote q {
    font-size: 17px;
    line-height: 30px;
  }
  .customer .testimonial .peopl h3 {
    font-size: 20px;
    margin-bottom: 0;
  }

  a.testi-img {
    width: 75px;
    height: 75px;
  }
}

.customer .owl-theme .owl-nav.disabled.owl-dots {
  bottom: -90px;
}

.customer .owl-theme .owl-dots .owl-dot.active span,
.customer .owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
  background: #fb811e;
}

.customer .owl-theme .owl-dots .owl-dot span {
  opacity: 0.3;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  position: absolute;
  bottom: -90px;
  right: 0;
  left: 0;
}

/* phần footer */

.footer__content .footer__content-main h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #060606;
}

.footer__content a.logo {
  font-size: 32px;
  color: #fb811e;
}

a.navbar-brand:hover,
.footer__content a.logo:hover {
  color: #060606;
}

.footer__content .column-2 p {
  line-height: 24px;
}

.footer__content .footer-p p a:hover {
  color: #fb811e;
}

.footer__content p.copy-text a {
  color: #009f4d;
}

.footer__content p.copy-text a:hover {
  color: #fb811e;
}

.footer__content .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.footer__content .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.footer__content .subscribe button:hover {
  opacity: 0.8;
}

.footer__content ul.social li,
.footer__content ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.footer__content ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.footer__content ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.footer__content ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}

@media screen and (max-width: 1190px) {
  .footer__content .footer__content-main h3 {
    font-size: 16px;
  }

  .footer__content .subscribe button {
    width: 30%;
  }
}

@media screen and (max-width: 991px) {
  .footer__content .footer__content-main h3 {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 736px) {
  .footer__content .below-section {
    display: block !important;
    text-align: center;
  }
}

@media screen and (max-width: 801px) {
  .footer__content .footer__content-main h3 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 640px) {
  .footer__content .subscribe button {
    padding: 12px 10px;
  }
}

@media screen and (max-width: 420px) {
  .footer__content .grid {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }

  .footer__content .subscribe button {
    width: 20%;
  }
}

@media screen and (max-width: 375px) {
  .footer__content .grid {
    grid-gap: 20px;
  }
}

#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  padding: 0;
}
